 .Button{
    margin-left:0px;
	margin-right:0px;
	width: 25px;
	height: 25px;
	color:gray;
 }
 
 .Mine{
    margin-left:0px;
	margin-right:0px;
	width: 25px;
	height: 25px;
	color:red;
	background-color:gray;
 }
 
 .ButtonClicked{
    margin-left:0px;
	margin-right:0px;
	width: 25px;
	height: 25px;
	background-color:gray;
 }